@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  @apply rounded relative outline outline-4 outline-current;
  &::after {
    left: -36px;
    top: calc(50% - 6px);
    content: '';
    background: url('../../public/FF7Cursor.webp');
    background-size: contain;
    display: block;
    width: 36px;
    height: 18px;
    position: absolute;
    animation: float .8s ease-in-out infinite alternate;

  }
}

@keyframes float {
  0% {
    top: calc(50% - 8px);
  }

  100% {
    top: calc(50% - 4px);
  }
}

body {
  @apply text-foreground bg-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-black;
}

h1 {
  @apply text-6xl/loose;
}

h2 {
  @apply text-5xl/loose;
}

h3 {
  @apply text-4xl/loose;
}

h4 {
  @apply text-3xl/loose;
}

h5 {
  @apply text-2xl/loose;
}

h6 {
  @apply text-xl/loose;
}

a {
  @apply text-highlight hover:underline underline-offset-4;
}
